.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.prioridad-alta {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-left: 7px solid #f5c6cb;
}

.prioridad-media {
  color: #856404;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  border-left: 7px solid #ffeeba;
}

.prioridad-baja {
  color: #004085;
  border: 1px solid #b8daff;
  border-left: 7px solid #b8daff;
  background-color: #cce5ff;
  color: #004085;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.delete{
  float: right;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
